<p id="notice"><%= notice %></p>

<div class="posts">
  <% @posts.each do |post| %>
    <div class="post-preview">
      <%= link_to post do %>
        <img src="<%= post.img %>" class="ui medium rounded image">
        <h2><%= post.title %></h2>
      <% end %>
      <p><%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>

      <p><%= post.summary %></p>
    </div>
  <% end %>
</div>
