<% content_for :title, "#{@post.title} - " %>

<h2><%= @post.title %></h2>

<p>
  <%= simple_format @post.content %>
</p>

<img src="<%= @post.img %>" class="ui small rounded image">

<p>
  <strong>Tags:</strong>
  <% @post.tags.each_with_index do |tag, index| %>
    <% if index == @post.tags.length - 1 %>
      <%= link_to tag.name, tag %>
    <% else %>
      <%= link_to tag.name, tag %>,
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
