<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %>God/Family/Tech</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui right sidebar inverted vertical menu">
    <%= link_to "Home", root_path, class:"item" %>
    <%= link_to "Add A Post", new_post_path, class:"item" %>
    <%= link_to "Add A Tag", new_tag_path, class:"item" %>
  </div>
  <div class="pusher">
    <div class="navbar-toggle">
      <button class="ui icon button"><i class="sidebar icon large"></i></button>
    </div>
    <div class="gft-title">
      <div class="km-column km-yellow"><h1><a href="/tags/3">Tech</a></h1></div><div class="km-column km-red"><h1><a href="/tags/2">Family</a></h1></div><div class="km-column km-blue"><h1><a href="/tags/1">God</a></h1></div>
    </div>
    <div class="gft-menu">
      <img src="/img/gft_r.png" class="ui fluid image">
    </div>
    <div class="main-container ui container">
      <%= yield %>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $('.navbar-toggle button').click(function() {
        $('.ui.sidebar').show();
        $('.ui.sidebar').sidebar('toggle');
      });
    });
  </script>
</body>
</html>
